
/* Container */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "my font";
}
.container{
  height: 100%;
  width: 100%;
}


@font-face {
  font-family: "my font";
  src: url("/assets/font/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  /* Mungkin Anda perlu menentukan format font yang sesuai dengan jenis font yang Anda gunakan (truetype, opentype, woff, woff2, dsb.) */
}

/* Positioning */
.flex{
  display: flex;
}
.col{
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start{
  justify-content: start;
}
.perfect_center{
  justify-content: center;
  align-items: center;
}
.justify-center{
  justify-content: center;
}

/* isi */
.page_1{
  width: 45%;
  border-radius: 50%;
  height: 60%;
}
.sub_page_1{
  background-image: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  width: 50%;
  border-radius: 25px;
  height: 100%;
}
.score{
  width: 53%;
  height: 40%;
  border-radius: 100%;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.text_sub_page_1{
  position: relative;
  top: 10px;
  color: #CCC9FF;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  
}
.text_score{
  position: relative;
  top: 30px;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 80px;
}
.text_score_2{
  position: relative;
  bottom: 80px;
  font-weight: bold;
  color: rgb(179, 179, 179);
  font-size: 18px;

}
.great{
  padding-top: 20px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin: 2% 1% 5% 1%;
}
.isi{
  font-size: 18px;
  width: 80%;
  color: #CCC9FF;
  font-weight: 500;
  text-align: center;
}

.sub_page_2{
  position: relative;
  left: 50px;
}

.head_page_2{
  padding-top:25px ;
  font-size:24px ;
}

.reaction {
  background-color: hsla(0, 100%, 67%,8%);  
  padding: 5px;
  border-radius: 10px;
  width: 350px;
}

.reaction img {
  padding-left: 15px;
}

.reaction  p {
  padding-left: 5px;
  color: hsl(0, 100%, 67%);
  font-weight: 700;
  font-size: 18px;
}

.reaction .nilai {
  padding-left: 150px;
  color: rgb(14, 0, 49);
}

.reaction .nilai_2 {
  color: rgb(156, 156, 156);
}

.memory {
  position: relative;
  top: 20px;
  background-color: hsla(39, 100%, 56%,8%);  
  padding: 5px;
  border-radius: 10px;
  width: 350px;
}

.memory img {
  padding-left: 15px;
}

.memory  p {
  padding-left: 5px;
  color: hsl(39, 100%, 56%);
  font-weight: 700;
  font-size: 18px;
}

.memory .nilai {
  padding-left: 150px;
  color: rgb(14, 0, 49);
}

.memory .nilai_2 {
  color: rgb(156, 156, 156);
}

.verbal {
  position: relative;
  top:40px;
  background-color: hsla(166, 100%, 37%,8%);  
  padding: 5px;
  border-radius: 10px;
  width: 350px;
}

.verbal img {
  padding-left: 15px;
}

.verbal  p {
  padding-left: 5px;
  color: hsl(166, 100%, 37%);
  font-weight: 700;
  font-size: 18px;
}

.verbal .nilai {
  padding-left: 165px;
  color: rgb(14, 0, 49);
}

.verbal .nilai_2 {
  color: rgb(156, 156, 156);
}

.visual {
  position: relative;
  top:60px;
  background-color: hsla(234, 85%, 45%,8%);  
  padding: 5px;
  border-radius: 10px;
  width: 350px;
}

.visual img {
  padding-left: 15px;
}

.visual  p {
  padding-left: 5px;
  color: hsl(234, 85%, 45%);
  font-weight: 700;
  font-size: 18px;
}

.visual .nilai {
  padding-left: 165px;
  color: rgb(14, 0, 49);
}

.visual .nilai_2 {
  color: rgb(156, 156, 156);
}

.mybutton {
  position: relative;
  top: 120px;
  background-image:linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%))  ;
	border-radius:42px;
  width: 360px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
  border: none;
	padding:16px 43px; 
}
.mybutton:hover {
  background-image:linear-gradient( #151428,#151428)  ;
}

